<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="headContent">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="${appName}">HMK</title>
    <link rel="icon" type="image/png" href="/images/hamburger.png">

    <!-- External CSS -->
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- PicoCSS (Optional base) -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css"
    >
    <!-- SweetAlert2 -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <!-- This file is just a container for fragments -->
  </body>
</html>
